# dipendenze
node_modules/

# artefatti intermedi della build
_tmp.html
__pycache__/
*.pyc

# sistema
.DS_Store
Thumbs.db

# other
/The Scientist and Engineer's Guide to Digital Signal Processing.pdf
/Julie Miller, Donna Gerken - College Algebra & Trigonometry (2017, McGraw-Hill Education) - libgen.li.pdf
